.container-fluid{
 border: 1px solid rgb(238, 233, 233);
 padding-bottom:5px;
 padding-top:5px;
 margin-left: 15px;
 border-radius: 10px;
 box-shadow: 0 3px 6px rgba(196, 191, 191, 0.16), 0 3px 6px rgba(197, 185, 185, 0.23)

}
.card{
    border:1px solid rgba(230, 227, 227, 0.527) ;
    background-color: rgba(230, 227, 227, 0.527);
    padding-top: 5px;
    padding-left: 5px;
    height: 90px;
    border-radius: 10px;
    margin-left:-15px;
    box-shadow: 0 1px 3px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23)
}

#scrip{
    color: rgba(0,0,0,.4);
    font-size: .6rem;
    font-weight: 700;
    margin-left: 10%;
    text-align: right;
}
#price{
    color: #00b7ff;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: right;

}
p{
    margin-top:1px;
    margin-right:5px;
    text-align: left;

}
 #span1{
    color:green;
    font-weight: bold;
    margin-bottom: 0;
    position: relative;
    top:10px;
    font-size: 0.9rem;

}
p #span2{
    font-size: 0.4rem;
   
}
#span3{
    font-weight: bold;
    font-size: 0.75rem;
    position: relative;
    top:-2px;
}
#span4{
    font-size:0.7rem ;
    position: relative;
    top:-10px;
}



.card5{
margin-top: 5px;
margin-left: 5px;
}
button{
   font-size: 1.2rem;  
   width:74px;
   color: orange;
   border:2px solid orange
} 
button:hover{
    background: rgba(230, 227, 227, 0.527);
}
i{
    font-size: large;
}
i:hover,button:hover{
    cursor:pointer
}
.progress1{
    margin-top: 12px;
    width: 90%;
    position: relative;
    left:10px
}
.right-progress{
    margin-top: 12px;
    width: 90%;
    padding-left: 0;
}
.left-progress{
    padding-right: 0;
    margin-top: 12px;
    width: 90%;
}
.progress{
    height:10px
}
#sidebar{
    height: 100%; 
    width: 400px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    background-color: #ffffff; 
    overflow-x: hidden; 
    padding-top: 40px; 
    transition: 0.5s; 
}
#arrow{
    position: relative;
    top:-30px;
    left:350px;
    font-size: x-large;

}
.custom-select{
    margin-left: 10%;
    width:80%;
    background-color: rgb(218, 214, 214);
}
.form-control{
    text-align: left;
    padding: 25px;
    width:80%;
    position: relative;
    top:10px;
    left:40px;
    font-size:1.0rem;
}
.form-control:hover{
    border:1px solid rgb(138, 136, 136);
}
.form-control:focus{
    border:none;
}
#button{
    margin-left: 10%;
    margin-top: 20px;
    width:80%;
    padding:10px;
    text-transform: uppercase;
    background-color: #3f51b5;
    color:white;
    border:none;
}
option{
    background-color: white;
}
